button{
    font-family: 'Antenna','sans-serif';
}
.tournament-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tournament-card1{
    display: flex;
    width: 70%;
    justify-content: space-between;

}
.header-con-1{
    display: flex;
    padding: 12px 0px;
    width: 30%;

}
.tournament-card1-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.tournament-header-con{
    display: flex;
    width: 60%;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Glass-Effect, rgba(4, 4, 4, 0.08));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(47.5px);

}
.header-content{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    text-align: left;
    gap: 10px;

}
.header-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

}
.header-subtitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.ball-game{
    width: 30%;
    height: 289.5px;
    flex-shrink: 0;
    /* box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.25), 0px 3px 150px 0px #717171; */
}