.press-corner-page{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.press-corner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9.752px;
    align-self: stretch;
    cursor: pointer;
  
}
  .press-corner-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

.news-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  
}
.news-section-container{
    display: flex;
    align-items: center;
    gap: 24px;
    width:100%;
  
}
  
.news-item-container{
    display: flex;
    width:100%;
    max-width: 528px;
    align-items: center;
    border-radius: 24px;
    background: var(--Bg-Color, #FFFDF7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.news-item-image{
    width:30%;
    max-width: 210px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 24px;
  
}
.news-item-content{
    display: flex;
    width:68%;
    /* max-width: 295px; */
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 0px 16px;
  
}
.news-item-title{
    width:96%;
    /* max-width: 279px; */
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.news-item-text-container{
    display: flex;
    /* padding: 0px 16px; */
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  
}
.news-item-viewall-container{
    display: flex;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    border-radius: 6px;
  
}
.news-item-viewall-button{
    display: flex;
    align-items: center;
    gap: 2px;
    border: none;
    background-color: #FFFDF7;
    cursor: pointer;
  
}
.news-item-viewall-icon{
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 6px;
    width: 13.5px;
    height: 13.5px;
    border-radius: 300px;
    cursor: pointer;
}
.news-item-viewall-text{
    font-family: 'Antenna', sans-serif;
    font-weight: 700;
    line-height: 140%; 
    text-align: left;
    cursor: pointer;
}

.news-column-frame{
    display: flex;
    flex-direction: row;
    /* gap:24px; */
    height: auto;
    width:100%;
    align-items: center;
    justify-content: space-between;
  }
  .news-more-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    width: 48.775%;
    height: inherit;
  }

  .breaking-news-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    width: 46.779%;
    border-radius: 24px;
    background: var(--Bg-Color, #FFFDF7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5% 0.998%;
    height: auto;
  }
  
  .breaking-news-title{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }
  
  .breaking-news-container{
    display: flex;
    padding-bottom: 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid var(--Text-Primary, #1A1A1A);
    text-align: left;
  }
  
  .brk-news-time{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
  }
  
  .brk-news-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
  }


  .video-news-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .video-news-container{
    display: flex;
    width: 32%;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Bg-Color, #FFFDF7);
    text-align: left;
  }
  
  .video-news-thumbnail{
    position: relative;
    display: inline-block;
    cursor: pointer;
  
  }
  .video-news-img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    display: block;
  
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
  }
  
  .video-news-content{
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    
  }
  .video-news-background{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px 18px;
    align-self: stretch;
    flex-wrap: wrap;
    color: var(--Text-Tertiary, #9C9C9C);
    font-family: Antenna;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  
  .video-news-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  
  .video-news-subtitle{
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 140%;
  
  }
  
  .video-news-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    width: 98%;
    font-weight: 700;
    font-size: 12px;
    flex-wrap: nowrap;
    
  }
  
  .news-full-story{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .video-views{
    display: flex;
    align-items: flex-start;
    gap: 0;
    flex-direction: row;
    width: auto;
  }
  
  .time-section{
    display: flex;
    gap: 1%;
    width: 100px;
  }
  .comment-section{
    display: flex;
    gap: 1%;
  }

  