.press-corner-page{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.press-corner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9.752px;
    align-self: stretch;
}
  .press-corner-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

.news-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  
}
.news-section-container{
    display: flex;
    align-items: stretch;
    gap: 24px;
    width:100%;
    justify-content: space-between;
}
  
.news-item-container{
    display: flex;
    width:100%;
    max-width: 528px;
    align-items: stretch;
    border-radius: 24px;
    background: var(--Bg-Color, #FFFDF7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: inherit;
}
.news-item-image{
    width: 25%;
    height: auto;
    align-self: stretch;
    border-radius: 24px;
    object-fit: cover;    
}
.news-item-content{
    display: flex;
    width:68%;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 2% 16px;
    gap: 10px; 
}
.news-item-title{
    width:96%; 
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.news-item-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  
}
.news-item-viewall-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    border-radius: 6px;
  
}
.news-item-viewall-button{
    display: flex;
    align-items: center;
    gap: 2px;
    border: none;
    background-color: #FFFDF7;
    cursor: pointer;
  
}
.news-item-viewall-icon{
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 6px;
    width: 13.5px;
    height: 13.5px;
    border-radius: 300px;
    cursor: pointer;
}
.news-item-viewall-text{
    font-family: 'Antenna', sans-serif;
    font-weight: 700;
    line-height: 140%; 
    text-align: left;
    cursor: pointer;
}

.news-column-frame{
    display: flex;
    flex-direction: row;
    height: auto;
    width:100%;
    align-items: stretch;
    justify-content: space-between;
  }
  .news-more-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 48.775%;
    height: inherit;
    justify-content: space-between;
  }

  .breaking-news-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    width: 46.779%;
    border-radius: 24px;
    background: var(--Bg-Color, #FFFDF7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5% 0.998%;
    justify-content: center;
  }
  
  .breaking-news-title{
    font-size: 22px;
    font-weight: 400;
    text-align: left;
  }
  
  .breaking-news-container{
    display: flex;
    padding-bottom: 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid var(--Text-Primary, #1A1A1A);
    text-align: left;
  }
  
  .brk-news-time{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
  }
  
  .brk-news-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
  }


  .video-news-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .video-news-container{
    display: flex;
    width: 32%;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Bg-Color, #FFFDF7);
    text-align: left;
  }
  
  .video-news-thumbnail{
    position: relative;
    display: inline-block;
    cursor: pointer;
  
  }
  .video-news-img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    display: block;
  
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
  }
  
  .video-news-content{
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    
  }
  .video-news-background{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px 18px;
    align-self: stretch;
    flex-wrap: wrap;
    color: var(--Text-Tertiary, #9C9C9C);
    font-family: Antenna;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  
  .video-news-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  
  .video-news-subtitle{
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 140%;
  
  }
  
  .video-news-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    width: 98%;
    font-weight: 700;
    font-size: 12px;
    flex-wrap: nowrap;
    
  }
  
  .news-full-story{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .video-views{
    display: flex;
    align-items: flex-start;
    gap: 0;
    flex-direction: row;
    width: auto;
  }
  
  .time-section{
    display: flex;
    gap: 1%;
    width: 100px;
  }
  .comment-section{
    display: flex;
    gap: 1%;
  }




  /* NEWS PAGE */
  .press-news-content{
    text-align: left;
  
  }
  .press-news-page{
    display: flex;
    width: 100%;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: var(--Bg-Color, #FFFDF7);
  }
  
  .press-news-main{
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      align-self: stretch;
      border-radius: 24px;
      background: var(--Bg-Color, #FFFDF7);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .press-news-main img{
    width: 50%;
    max-height: 300px;
  }
  
  .press-news-background{
    display: flex;
    height: 18px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0px 18px;
    flex-wrap: wrap;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }
  
  .press-news-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; 
  }
  .press-news-subtitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  .press-news-details{
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: 140%; 
  }
  .press-news-writeup{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }
  /* press corner mobile */
@media screen and (max-width: 650px){
  .video-news-container:nth-child(3) {
    display: none; 
}
.video-news-section{
  width: 100%;
  justify-content: space-between;
  gap: 0;
}
.video-news-container{
  width: 48%;
}

.news-more-section{
  display: none;

}
.breaking-news-section{
  width: 100%;
  padding: 1.5% 1.5%;
}
.video-news-footer{
  flex-direction: column;
  gap:10px;

}
.video-views{
  width: 100%;
  justify-content: space-between;
}

} 

@media (min-width: 650px) and (max-width: 824px){
 
  .news-more-section{
    gap:18px;
    
  }
}


@media screen and (max-width: 650px) {

  .news-section-container{
    flex-direction: column;
    gap: 16px;
  }
  .news-item-container {
    height: 130px; 
    min-height: unset; 
  }
  .news-item-content{
    padding: 2% 10px;
  }

  .news-item-container{
    width:95%;
  }
  .news-item-image{
    width: 30%;
  }
  .news-item-title{
    font-size: 16px;
  }
  .news-item-viewall-text{
    font-size: 12px;
  }

  .view-all-text{
    font-size: 13.33px;
    font-weight: 700;
  }
  /* press corner mobile */
  .video-news-container:nth-child(3) {
      display: none; 
  }
  .video-news-section{
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
  .video-news-container{
    width: 48%;
  }

  .news-more-section{
    display: none;

  }
  .breaking-news-section{
    width: 100%;
  }

  .video-news-footer{
    flex-direction: column;
    gap:10px;

  }
  .video-views{
    width: 100%;
    justify-content: space-between;
  }

}

  