h2{
    color: var(--Action-Bt-Color, #245069);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
li{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}


@media screen and (max-width: 500px) {
    h2{
        font-size: 16px;
    }
    li{
        font-size: 12px;
    }
    .initiative-para{
        font-size: 12px;
    }
  
  }