/* DONATIONS */

.donations-card-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .donations-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  
  .donations-section{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--Glass-Effect, rgba(4, 4, 4, 0.08));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .donate-bg{
    height: 100%;
    width:44%;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
    border-radius: 9px 0px 0px 9px;
    /* box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25); */
  
  }
  
  
  .donate-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding-right: 1.5%;
    width: 97%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }
  
  .donate-writeup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    text-align: left;
  }
  
  .donate-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  
  .donate-subtitle{
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }
  
  .donate-contri-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 89%;
  }
  
  .donate-imgs-section{
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    justify-content: space-between;
  }
  
  .donate-imgs{
    display: flex;
    width: 30%;
    justify-content: center;
    padding: 3%;
    align-items: center;
    gap: 4.5px;
    border-radius: 4.5px;
    background: var(--Forms-Selected-Bg, #000000);
  }
  
  .donate-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
  }
  
  .donate-rate{
    color: var(--Action-Bt-Color, #245069);
    font-size: 13.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    display: flex;
    padding: 4.5px 9px;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
    border-radius: 2.25px;
    background: var(--Bg-Color, #FFFDF7);
  }
  .donate-things{
    width: 70%;
    /* height: 83px; */
  }
  
  .donate-name{
    color: var(--Text-Secondary, #F4F4F4);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .donate-contri-button{
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 3px;
    background: var(--Bg-Color, #FFFDF7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--Action-Bt-Color, #245069);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    border: none;
    cursor: pointer;
    font-family: 'Antenna', sans-serif;
  }

@media screen and (max-width: 540px) {
  .donations-card-desktop{
    display: none;
  }
}
