.App {
  text-align: center;
  font-family: 'Antenna', sans-serif;
  box-sizing: border-box;

}
html, body {
  width: 100%;
  
}

* {
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Antenna', sans-serif;
  font-style: normal;
  color: var(--Text-Primary, #1A1A1A);

}

.container-align{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 70%;
  flex-direction: column;
  margin:auto;
  width:70%;
}

.header-css{
  display: flex;
  padding: 24px 0px 16px 0px;
  gap: 4px;
}

.header-css a{
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%; 
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-css .current-page{
  color: var(--Bg-Color, #FFFDF7);
  border-radius: 8px;
  background: var(--Action-Bt-Color, #245069);
  padding: 8px;
}

.header-logo{
  width: 9.93%;
  height: 9.95%;
  flex-shrink: 0;
}

.header2-css{
  display: none;
}

.footer-class{
  display: flex;
  width:100%;
}

.footer-css{
  display: flex;
  width: 100%;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  background: #FFF;
  z-index: 11;
}

.newsletter-section{
  position: relative;
  display: inline-block;
}
.newsletter-section img{
  height: auto;
  
  width: 100%;
  align-self: stretch;
  display: block;
}

.newsletter-content{
  display: flex;
  width:63%;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left:5%;
  top:5%;
}

.newsletter-content p{
  display: flex;
  padding: 1.5% 0;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  color: var(--Text-Secondary, #F4F4F4);
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
}

.newsletter-content button{
  display: flex;
  width: 27.7%;
  height: 39px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  border-radius: 20px; 
  border: none; 
  background-color: #fff; 
  cursor: pointer;  
  font-family: 'Antenna', sans-serif;
}


.footer-links-container{
  display: flex;
  width: 93.61%;
  justify-content: space-between;
  align-items: center;
}

.footer-brands{
  display: flex;
  width:15.06%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.footer-brands p{
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; 
  align-self: stretch;
  text-align: left;
}

.footer-about{
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  flex-shrink: 0;
}

.footer-about img{
  height: auto;
  width:39.7%;
}

.footer-about p{
  align-self: stretch;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.footer-legal{
  display: flex;
  width:22%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-weight: 400;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  text-align: right;
}

.main-css{
  display: flex;
  width: 100%;
  padding: 40px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.hero-section{
  display: flex;
  align-items: center;
  gap: 11.5px;
  align-self: stretch;
}

.hero-section-1 {
  display: flex;
  width: 55.26%;
  height: 380px;
  flex-shrink: 0;
  border-radius: 24px;
  text-align: left;
  align-items: center;
  justify-content: center;
  background: url('./Components/images/close-up-athlete-playing-soccer 1.png') lightgray 50% / cover no-repeat;
}

.hero-section-content{
  display: flex;
  flex-direction: column;
  gap:3px;
  width: 97%;
  padding-left: 2%;
  color: var(--Text-Secondary, #F4F4F4);
}


.hero-section-1 .p1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%; 
}

.hero-section-1 .p2 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}


/* CORPORATE BALL GAME SECTION */
.corporate-game-section {
  background: url('./Components/images/empty stadium.jpg') lightgray 50% / cover no-repeat;
  background-color: #000;
  
  width: 42.52%;
  height: 380px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.corporate-game-body{
  width: 100%;
  flex-direction: row;
  gap:10px;

}

.corporate-game-container{
  display: flex;
  flex-direction: column;  
  gap: 20px;
  height: 100%;
  align-items: center;

}

.corporate-ball-game-img {
  width:155%;
  height: auto;
  flex-shrink: 0;
  opacity: 1;
}

.corporate-nav-button-left, .corporate-nav-button-right{
  background:none;
  border: none;
}
.corporate-ball-game-content {
  margin-top: -85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.corporate-ball-game-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #f4f4f4;
}

.corporate-ball-game-subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corporate-ball-game-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #f4f4f4;
}

.corporate-game-container button{
  display: flex;
  width: 38.049px;
  height: 42.488px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;

}
.corporate-nav-button-left{
  margin-left: 16px;
}
.corporate-game-nav{
  display: inline-flex;
  padding: 6px;
  align-items: center;
  gap: 6px;
  border-radius: 300px;
  background: #FFF;
  width: 13.5px;
  height: 13.5px;
  margin-top: -850%;
}
.corporate-nav-button-right{
  margin-right: 16px;
}



/* INITIATIVES SECTION */
.initiatives-section{
  display: flex;
  width:100%;
  height: auto;
  padding-right: 12px;
  align-items: flex-start;
  gap: 24px;
  padding: 10px 0;
  border-radius: 24px;
  background: var(--Bg-Color, #FFFDF7);
}

.initiatives-section img{
  width:48%;
}

.initiavtive-content{
  display: flex;
  width:100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align:end;
  gap: 16px; 
}

.initiavtive-content .d1{
  display: flex;
  padding: 16px;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #FFF;
}
.initiavtive-content .p1{
  font-family: 'Antenna';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin:0;
}

.initiavtive-content .p2{
  align-self: stretch;
  font-family: 'Antenna';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin:0;
}

.initiavtive-content .p3{
  align-self: stretch;
  color: var(--color-black-solid, #000);
  font-family: 'Antenna';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
  margin:0;
  
}
/* Initiatives Pages */
/* .initiatives-page{
  display: flex;
  width: 100%;
  padding: 32px 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
  background: var(--Bg-Color, #FFFDF7);
}

.initiatives-container-1{
  text-align: left;
  width: 100%;
  line-height: normal;
}

.initiatives-overview{
  font-size: 20px;
  font-weight: 400; 
}

.initiatives-container-1 p{
  font-size: 16px;
  font-weight: 300;
}

.initiatives-container-2{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.initiative-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.initiative-card-frame{
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  width: 48%;
  height: 160px;
  cursor: pointer;
}
.initiative-card-frame img{
  width: 40%;
}
.initiative-card-frame p{
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
} */

/* Initiative Pages */
/* .initiatives-image-container{
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.initiatives-image-container p{
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.initiatives-image-container img{
  display: flex;
  width: 60%;
  height: 155px;
  border-radius: 6px;
  opacity: 0.9;
}
.active-in-tab{
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--Action-Bt-Color, #245069);
  color: var(--Text-Secondary, #F4F4F4);
  border: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}


.initiatives-tabs{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Antenna', sans-serif;
  
}
.initiatives-tabs button{
  cursor: pointer;
  font-family: 'Antenna', sans-serif;
}
.in-tab{
  border: none;
  background: none;
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
} */



/* training */
/* .training-content, .camp-content, .memorial-content{
  text-align: left;
  width: 70%;
} */

/* General initiatives pages */
/* .in-content-div{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.in-content-div section{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.in-content-svg{
  display: flex;
  align-items: center;
  gap: 8px;
} */

/* Gallery */
/* .gallery-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.gallery-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

}
.gallery-container img{
  width: 32%;
  height: 32%;
  border-radius: 6.75px;

} */

/* MEMORIAL */
/* .mem-it-subtitle{
  color: var(--Action-Bt-Color, #245069);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
} */

/* MATCH SECTION */
.match-section{
  display: flex;
  height: auto;
  padding: 10px 0;
  flex-direction: column;
  margin:auto;
  width:100%;
  gap: 8px;
  border-radius: 24px;
  background: var(--Bg-Color, #FFFDF7);
}

.match-center-container{
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 40px;
  width: 98%;
}

.match-center-nav{
  width:100%;
  max-width: 35.243px;
  height: 36.498px;
}



.match-center-content {
  display: flex;
  width:70%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.match-center-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}

.match-center-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%; 
}

.match-center-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.match-center-status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 18px;
}

.match-center-statue {
  align-self: stretch;
  color: var(--Text-Tertiary, #9C9C9C);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}

.match-center-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.match-center-team-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.match-center-team-name {
  width:100%;
  max-width: 118.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.score {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #000;
  gap: 8px;
  
}

.score p{
  margin: 0;
  width:100%;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.match-center-icons-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.match-center-icons-container img{
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 25px;

}

.match-center-status-container img{
  max-width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 37.5px;
 
}

.match-center-status-container .live-match{
  border: 1.5px solid var(--Live-Indicator, #05CD05); 
}


/* Socials column */
.socials-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  position: fixed;
  top: 20%;
  right: 20px;
  z-index: -10;
}

.social-icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.social-icon {
  width: 30px;
  height: 30px;
}



.back-button{
  display: flex;
  position: fixed;
  top: 6%;
  left: 3%;
  z-index: 10;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  border: none;
}

.back-button-icon{
  height: 35px;
  width: 35px;
}

/* PRESS CORNER */
.press-corner-page{
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.press-corner-section{
  display: flex;
  width: 100%;
  padding: 32px 0px;
  flex-direction: column;
  gap: 16px;
  border-radius: 24px;
  background: var(--Bg-Color, #FFFDF7);
}
.press-corner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.752px;
  align-self: stretch;
  cursor: pointer;

}
.press-corner-title{
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}


/* NEWS SECTION */
/* .news-column-frame{
  display: flex;
  flex-direction: row;
  height: auto;
  width:100%;
  align-items: center;
  justify-content: space-between;
}
.news-more-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  width: 48.775%;
  height: inherit;
}

.breaking-news-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  width: 46.779%;
  border-radius: 24px;
  background: var(--Bg-Color, #FFFDF7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1.5% 0.998%;
  height: auto;
}

.breaking-news-title{
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.breaking-news-container{
  display: flex;
  padding-bottom: 4px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid var(--Text-Primary, #1A1A1A);
  text-align: left;
}

.brk-news-time{
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.brk-news-content{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.video-news-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.video-news-container{
  display: flex;
  width: 32%;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Bg-Color, #FFFDF7);
  text-align: left;
}

.video-news-thumbnail{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.video-news-img{
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  display: block;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}

.video-news-content{
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  
}
.video-news-background{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0px 18px;
  align-self: stretch;
  flex-wrap: wrap;
  color: var(--Text-Tertiary, #9C9C9C);
  font-family: Antenna;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.video-news-title{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.video-news-subtitle{
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 140%;
}

.video-news-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  width: 98%;
  font-weight: 700;
  font-size: 12px;
  flex-wrap: nowrap;
}

.news-full-story{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-views{
  display: flex;
  align-items: flex-start;
  gap: 0;
  flex-direction: row;
  width: auto;
}

.time-section{
  display: flex;
  gap: 1%;
  width: 100px;
}
.comment-section{
  display: flex;
  gap: 1%;
} */

/* Press News Page */
.press-news-content{
  text-align: left;

}
.press-news-page{
  display: flex;
  width: 100%;
  padding: 32px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
  background: var(--Bg-Color, #FFFDF7);
}

.press-news-main{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--Bg-Color, #FFFDF7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.press-news-main img{
  width: 50%;
}

.press-news-background{
  display: flex;
  height: 18px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0px 18px;
  flex-wrap: wrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.press-news-title{
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; 
}
.press-news-subtitle{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.press-news-details{
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 140%; 
}
.press-news-writeup{
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.news-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.news-section-container{
  /* display: flex;
  align-items: stretch;
  gap: 24px;
  width:100%; */
  display: flex;
  align-items: stretch;
  gap: 24px;
  width:96%;
  justify-content: space-between;
}


.news-item-container{
  display: flex;
  width:100%;
  max-width: 528px;
  align-items: stretch;
  border-radius: 24px;
  background: var(--Bg-Color, #FFFDF7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: inherit;
}
.news-item-image{
  width: 30%;
  height: auto;
  align-self: stretch;
  border-radius: 24px;
  object-fit: cover; 
}


.news-item-content{

  display: flex;
  width:68%;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 2% 2%;
  gap: 10px; 

}
.news-item-title{
  width:96%;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.news-item-text-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

}
.news-item-viewall-container{
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  border-radius: 6px;

}
.news-item-viewall-button{
  display: flex;
  align-items: center;
  gap: 2px;
  border: none;
  background-color: #FFFDF7;
  cursor: pointer;

}
.news-item-viewall-icon{
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 6px;
  width: 13.5px;
  height: 13.5px;
  border-radius: 300px;
  cursor: pointer;
}
.news-item-viewall-text{
  font-family: 'Antenna', sans-serif;
  font-weight: 700;
  line-height: 140%; 
  text-align: left;
  cursor: pointer;
}


/* VIEW ALL BUTTON */
.view-all-container{
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  border-radius: 6px;
  background: var(--Forms-Selected-Bg, #272727);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.view-all-button{
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--Forms-Selected-Bg, #272727);
  border: none;
  cursor: pointer;

}
.view-all-text{
  font-family: 'Antenna', sans-serif;
  color: var(--Text-Secondary, #F4F4F4);
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  font-size: 16px;
  
}
.view-all-icon{
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 6px;
  border-radius: 300px;
  background: #FFF;

}


/* Brand Icons Footer*/
.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: inherit;;

}

.icon-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 15px;
  width: 15.375px;
  height: 15px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
}

/* Hover effects */
.icon-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


.facebook {
  background: #3B5998;
  padding: 7.5px 7.125px 7.5px 7.5px;
}

.twitter {
  background-color: #1da1f2;
  padding: 7.5px 7.125px 7.5px 7.5px;
}

.youtube {
  background: #CD201F;
  padding: 7.5px 6.162px 7.5px 6.56px;
}

.instagram {
  background: #FF17BD;
  padding: 7.5px 8.078px 7.5px 8.44px;
}

.linkedin {
  background: #0077B5;
  padding: 7.5px 8.078px 7.5px 8.44px;
}



/* MOBILE VIEW STARTING AT 600px html  */
@media screen and (max-width: 650px) {
  .socials-column, .header-css, .back-button{
    display: none;
  }

  .initiatives-section{
    flex-direction: column;
    align-items: center;

  }
  .initiatives-section img{
    width: 100%;
  }
  .initiavtive-content{
    width: 96%;
    align-items: center;
  }
  
  .header2-css{
    display: flex;
    width: 100%;
    padding: 24px 0px 16px 0px; 
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 0 auto;
    max-width: 526.02px;
  }
  .header2-css p{
    font-size: 32px;
    font-weight: 700;
  }

  .hero-section, .news-section-container{
    flex-direction: column;
  }

  .news-section-container{
    flex-direction: column;
    gap: 16px;
  }
  .news-item-container {
    height: 130px; 
    min-height: unset; 
  }
  .news-item-content{
    padding: 2% 10px;
  }
  .news-item-container{
    width:95%;
  }
  .news-item-image{
    width: 30%;
  }
  .news-item-title{
    font-size: 16px;
  }
  .news-item-viewall-text{
    font-size: 12px;
  }

  .view-all-text{
    font-size: 13.33px;
    font-weight: 700;
  }


  .container-align{
    width: 88.67%;
    gap:16px;
  }
  .main-css{
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-css, .hero-section-1, .corporate-game-section{
    width: 100%;
  }
  .corporate-game-section{
    max-width: inherit;
  }

  .footer-links-container{
    width: 91.51%;
    gap:4%;
    
  }

  .footer-brands{
    
    width: 22.4%;
    line-height: 140%;
    gap: 2.167px;
  }

  .footer-about{
    
    width: 35.9%;
    line-height: 120%;
    gap: 2.979px;
  }
  .footer-about p, .footer-brands p{
    font-size: 7.99px;
  }

  .footer-about img{
    width:39.58%;
    height: auto;
  }
  .footer-legal{
    
    width: 31.6%;
    font-size: 9.42px;
    gap: 5px;
    text-align: right;
    
  }

  .footer-class{
    width: 100%;
  }
  .footer-css{
    width: 100%;

  }
  .newsletter-content {
    width: 75%;
    left: 5%; 
    top: 10%; 
    gap: 3%;
  }

  .newsletter-content p {
    font-size: 12.9px; 
    line-height: 120%; 
    height: auto; 
    text-align: left; 
  }

  .newsletter-content button {
    width: 20.76%;
    height: 14.563px; 
    font-size: 7.333px;
    line-height: 120%;
    border-radius: 15px; 
  }  

  .match-center-container{
    width: 100%;
    gap: 20px;
  }

  .score{
    gap:5px;
  }
  .score p{
    font-size: 20px;
  }

  .match-center-score-container{
    gap:9px;
  }

  .match-center-status-container img{
    width:45px;
    height: auto;;
  }

  .match-center-title, .press-corner-title{
    font-size: 24px;
  }

  .icon-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 3px;
  }
  
  .icon-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    width: 6.525px;
    height: 6.525px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
  }
  
  /* Hover effects */
  .icon-wrapper:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  
  .facebook {
    background: #3B5998;
    padding: 2.031px 1.929px 2.032px 2.032px;
  }
  
  .twitter {
    background-color: #1da1f2;
    padding: 2.031px 1.93px 2.032px 2.031px;
  }
  
  .youtube {
    background: #CD201F;
    padding: 2.031px 1.669px 2.032px 1.776px;
  }
  
  .instagram {
    background: #FF17BD;
    padding: 2.031px 2.187px 2.032px 2.287px;
  }
  
  .linkedin {
    background: #0077B5;
    padding: 2.031px 2.188px 2.032px 2.286px;
  }



  /* press corner mobile */
  /* .video-news-container:nth-child(3) {
      display: none; 
  }
  .video-news-section{
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
  .video-news-container{
    width: 48%;
  }

  .news-more-section{
    display: none;

  }
  .breaking-news-section{
    width: 100%;
  }

  .video-news-footer{
    flex-direction: column;
    gap:10px;

  }
  .video-views{
    width: 100%;
    justify-content: space-between;
  } */

}

@media (min-width: 651px) and (max-width: 880px) {
  .corporate-game-section{
    gap:0;
  }
  .corporate-ball-game-title{
    font-size: 24px;
  }
  .corporate-ball-game-content {
    margin-top:-135% ;
  }
  .corporate-ball-game-img{
    width: 250%;
  }
}

/* footer newsletter */
@media (min-width: 650px) and (max-width: 700px){
  .newsletter-content p{
    font-size: 30px;
  }
}

/* press corner mobile */
@media (min-width: 650px) and (max-width: 824px){
  .news-section-container:nth-child(4){
    display: none;
  }
  .news-more-section{
    justify-content: space-between;
    
  }
}

/* @media (min-width: 651px) and (max-width: 1030px){
  .initiatives-tabs{
    width: 90%;
  }
  .training-content, .camp-content, .memorial-content{
    width: 90%;
  }

}

@media screen and (max-width: 800px) {
  .initiatives-tabs{
    width: 90%;
  }
  .training-content, .camp-content, .memorial-content{
    width: 90%;
  }
  .initiatives-tabs button{
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

}

@media screen and (max-width: 500px) {
  .initiatives-tabs{
    width: 90%;
  }
  .training-content, .camp-content, .memorial-content{
    width: 90%;
  }
  .initiatives-tabs button{
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

} */

/* @media screen and (max-width: 540px) {
  .initiative-card{
    flex-direction: column;
    gap: 16px;
  }
  .initiative-card-frame{
    width: 100%;
  }
  .initiatives-container-2{
    width: 80%;
  }
  
} */



/* MENU */
.menu {
  position: absolute;
  top: 55px; 
  right: 34px;
  z-index: 1000;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  font-family: 'Antenna', 'san-serif';
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin: 5px 0;
}

.menu ul li {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px;

}

.menu ul li:hover {
  cursor: pointer;
  color: white;
  background-color: #245069;
  padding: 5px;
}
