
@font-face {
  font-family: 'Antenna';
  src: url('./font/Antenna-Regular.otf') format('opentype');
  font-weight: 500; 
  font-style: normal;
}

/* @font-face {
  font-family: 'Antenna';
  src: url('./font/Antenna-Medium.otf') format('opentype');
  font-weight: 400; 
  font-style: normal;
} */

/* @font-face {
  font-family: 'Antenna';
  src: url('./font/Antenna-Medium.otf') format('opentype');
  font-weight: 700; 
  font-style: normal;
} */



body {
  margin: 0;
  font-family: 'Antenna', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


